.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    margin: 0 10%;
}

.header a {
    text-decoration: none;
    color: #fff;
    margin-right: 18px;
}

.header a:hover {
    color: chartreuse;
}